<!DOCTYPE html>
<html>
	<head>
		<title>Многочлены Чебышева :: Визуализация</title>
	</head>
	<body vlink="black" link="black" style="background-image: url(images/blue_bg.jpg);background-position: left top; font-family:Arial">
		<hr/>

		<div align="center">
			<div align="left" style="width:70%">
В математике <b>последовательностью ортогональных многочленов</b> называют бесконечную последовательность действительных многочленов<br/>
<i>p<sub>0</sub>(x), p<sub>1</sub>(x), p<sub>2</sub>(x), ...</i>
,
где каждый многочлен <i>p<sub>n</sub>(x)</i> имеет степень <i>n</i> , а также любые два различных многочлена этой последовательности ортогональны друг другу в смысле некоторого скалярного произведения заданного в пространстве <i>L<sub>2</sub></i> .<br/>

Понятие ортогональных многочленов было введено в конце XIX в. в работах Чебышёва П. Л. по непрерывным дробям и позднее развито Марковым А. А. и Стилтьесом Т. И. и нашло различные применения во многих областях математики и физики.<br/><br/>
<br/>
<b>Многочлены Чебышева</b> — две последовательности ортогональных многочленов <i>T<sub>n</sub>(x)</i> и <i>U<sub>n</sub>(x)</i>, <i>n={0,1,...}</i>  названные в честь Пафнутия Львовича Чебышева.<br/>
Многочлены Чебышева играют важную роль в теории приближений, поскольку корни многочленов Чебышева первого рода используются в качестве узлов в интерполяции алгебраическими многочленами.<br/><br/>


<b>Многочлены Чебышева первого рода</b><br/>
Многочлен Чебышева первого рода <i>T<sub>n</sub>(x)</i> характеризуется как многочлен степени <i>n</i> со старшим коэффициентом <i>2<sup>2n − 1</sup></i>, который меньше всего отклоняется от нуля на интервале <i>[−1,1]</i>. Впервые рассмотрены самим Чебышёвым.
<br/><br/>

<b>Многочлены Чебышева второго рода</b><br/>
Многочлен Чебышева второго рода <i>U<sub>n</sub>(x)</i> характеризуется как многочлен степени <i>n</i> со старшим коэффициентом <i>2<sup>2n</sup></i>, интеграл от абсолютной величины которого по интервалу <i>[−1,1]</i> принимает наименьшее возможное значение. Впервые рассмотрены в совместной работе двух учеников Чебышева — Коркина и Золотарёва.
<br/><br/>
Многочлены Чебышева второго рода <i>U<sub>n</sub>(x)</i> могут быть определены с помощью рекуррентного соотношения:	<br/>
<i><b>
<i>U<sub>0</sub>(x)=1</i><br/>
<i>U<sub>1</sub>(x)=2x</i><br/>
<i>U<sub>n+1</sub>(x)=2xU<sub>n</sub>(x) - U<sub>n-1</sub>(x)</i><br/>
</b></i>		
			
			
			</div>
		</div>
		
		<hr/>
		<div id="footer" align="center">
			Леоненко П.В.
		</div>
	</body>
</html>
